/* ======= Google Fonts ======= */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"); */
/* ======= Variables ======= */
:root {
  --mainColor: #777777;
  --secondaryColor: #231f20;
  --transparentBlack: #000000c2;
  --lightGray: #bfbfbf;
  --black: #000000;
  --white: #ffffff;
  --sectionPadding: 80px;
}
/* ======= Global Rules ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
a,
a:visited {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
button,
input {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Medium */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Large */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* X-Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* XX-Large */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* ===== Components ===== */
a.button {
  width: fit-content;
  margin: 0 auto;
  padding: 20px 50px;
  border: 1px solid var(--black);
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: 0.3s;
}
a.button:hover {
  color: var(--white);
  background-color: var(--black);
}
.section-heading {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.section-heading h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
}
.section-heading p.short {
  position: relative;
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--mainColor);
  padding-bottom: 20px;
}
.section-heading p.short::after {
  content: "";
  background-color: var(--mainColor);
  width: 180px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section-heading p:not(.short) {
  margin: 70px 0;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--mainColor);
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.5;
}
/* ===== Header ===== */
header {
  height: calc(75vh + 76px);
  position: relative;
  background: url(../img/header.jpg) center center / cover no-repeat #b3b3b3;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header nav .logo img {
  width: 180px;
}
header nav .links {
  display: none;
}
header nav .links::before {
  content: "";
  border: 15px solid transparent;
  border-bottom-color: #ccc;
  position: absolute;
  top: -30px;
  right: 0;
}
header nav .links li a {
  padding: 20px 40px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
}
header nav .links li a:hover {
  border-radius: 30px;
  background-color: #ffffff79;
}
header nav .toggle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35px;
  cursor: pointer;
}
header nav .toggle:hover + .links,
header nav .links:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ccc;
  padding: 20px 0;
  z-index: 4;
  box-shadow: 0 0 5px 0 #0000002f;
}
header nav .toggle span {
  width: 100%;
  height: 1px;
  background-color: #000000;
}
header .main-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: 700px;
}
header .main-header p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  padding-bottom: 40px;
  position: relative;
}
header .main-header p::after {
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
}
header .main-header h1 {
  margin: 50px 0;
  font-size: 2.5rem;
  font-weight: 600;
}
@media (max-width: 767px) {
  header .main-header h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 575px) {
  header .main-header h1 {
    font-size: 2rem;
  }
}
/* ===== Download ===== */
.download {
  background-color: var(--black);
}
.download .container {
  height: 100%;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.download p {
  flex-basis: 50%;
  text-transform: uppercase;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .download .container {
    flex-direction: column;
  }
  .download .container p {
    text-align: center;
  }
}
.download a {
  text-transform: uppercase;
  background-color: var(--white);
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid var(--black);
  transition: 0.3s;
}
.download a:hover {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
/* ===== Our Beginning ===== */
.our-beginning .container {
  display: flex;
}
.our-beginning .container > div {
  flex-basis: 50%;
}
.our-beginning .text {
  padding: 50px 50px 50px 0;
  align-self: center;
}
@media (max-width: 767px) {
  .our-beginning .container {
    flex-direction: column;
  }
  .our-beginning .image {
    order: -1;
    margin-top: 50px;
  }
  .our-beginning .text {
    padding: 50px 20px;
  }
}
.our-beginning .text .section-heading {
  text-align: left;
}
.our-beginning .text .section-heading .short::after {
  width: 40px;
  left: 0;
  transform: none;
}
.our-beginning .text .section-heading p:not(.short) {
  margin: 30px 0;
}
.our-beginning .text a {
  margin: 0;
}
.our-beginning .image img {
  height: 100%;
}
/* ===== Video ===== */
.video {
  height: 500px;
  background: url(../img/keyboard.jpg) center center / cover no-repeat #b3b3b3;
  position: relative;
}
.video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--transparentBlack);
}
.video .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .wrapper {
  text-align: center;
}
.video h3 {
  color: var(--white);
  font-size: 1.4rem;
  margin-bottom: 35px;
}
.video .play {
  font-size: 60px;
  color: var(--white);
  cursor: pointer;
}
/* ===== Portfolio ===== */
.portfolio {
  padding: var(--sectionPadding) 0;
}
.portfolio .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
}
.portfolio .categories li a {
  padding: 15px 30px;
}
.portfolio .categories li a.active {
  background-color: var(--black);
  color: var(--white);
}
.portfolio .images-wrapper {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 767px) {
  .portfolio .images-wrapper {
    flex-direction: column;
  }
}
.portfolio .images-wrapper .image {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  overflow: hidden;
}
.portfolio .images-wrapper .image::after {
  content: "Awesome Image";
  width: 100%;
  height: 100%;
  background-color: #00000083;
  color: var(--white);
  font-weight: 600;
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.portfolio .images-wrapper .image:hover::after {
  opacity: 1;
  transition: 0.6s;
}
.portfolio .images-wrapper .image:hover img {
  transform: rotate(-10deg) scale(1.3);
}
.portfolio .images-wrapper .image img {
  height: 100%;
  transition: 0.6s;
}
/* ===== Quote ===== */
.quote {
  padding: var(--sectionPadding) 0;
  background: url(../img/coffe.jpg) center / cover no-repeat #777777;
  position: relative;
}
.quote::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparentBlack);
}
.quote .wrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: var(--white);
  text-align: center;
}
.quote .wrapper .icon {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: var(--black);
  font-size: 1.2rem;
  background-color: var(--white);
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 60px;
}
.quote .wrapper q {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.quote .wrapper .author {
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
